@font-face {
  font-family: Plus_Jakarta_Sans;
  src: url(./Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: Plus_Jakarta_Sans_thin;
  src: url(./Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf);
}
@font-face {
  font-family: Plus_Jakarta_Sans_semi;
  src: url(./Fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Plus_Jakarta_Sans;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 33%) #252525;
}
body {
  width: 100%;
  height: auto;
  background-image: url(./bg-img/image\ 35.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0px; /* sticky option? */
}
nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
li {
  list-style: none;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 30px;
}
a {
  text-decoration: none;
  font-family: Plus_Jakarta_Sans_thin;
  color: white;
  font-weight: 600;
}
.About {
  text-decoration: underline rgba(255, 255, 255, 0.514) solid 2px;
}
.NavLink:hover {
  background-color: rgba(255, 255, 255, 0.13);
  transition: ease-in-out 0.15s;
}
h1 {
  font-size: 4.5rem;
  color: white;
  letter-spacing: 3px;
}
main {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  color: white;
  padding: 40px;
  margin-top: 3rem;
  text-align: justify;
  line-height: 2rem;
  text-shadow: #2525257a 2px 2px;
  width: 900px;
  font-size: 1.2rem;
  background-color: #25252559;
  border-radius: 10px;
}
