@font-face {
  font-family: Poppins-bold;
  src: url(./Fonts/Poppins/Poppins-Bold.ttf);
}

section {
  width: 24%;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.334);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 20px;
}
.SideBar-Links {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.1rem;
  margin-bottom: 20px;
  font-family: Poppins-bold;
}
.SideBar-Content-1,
.Sidebar-content-2 {
  padding: 20px;
}
.SideBar-Content-1 {
  border-top: solid 1px white;
}
.Sidebar-content-2 {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
.Sidebar-all-Contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: left;
  padding: 0rem 0px 2rem 0rem;
}

.Link-Text {
  color: white;
  padding-left: 10px;
  color: inherit;
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline 0.15em;
  transition: --offset 400ms, text-decoration-color 400ms;
}

.Link-Text:hover,
.Link-Text:focus {
  --offset: 0.4em;
  text-decoration-color: rgb(138, 73, 185);
}
